#heading {
    padding: 20px;
    font-size: 25px;
}
body {
    background-image: url("background.jpg");

}
.mario_image {
    width: 100%;
}
#info_button {
    float: right; 
    font-size: 15px;
}
h4 {
    background-color:lightgreen;
    padding: 10px;
    text-align: center;
    margin: 0px;
}
.modal-dialog {
    width: 100%;
}
.i1 {
    width: 45%;
    display: inline-block;
}
video {
    background: url("game_console.png");
    background-position: center;
    background-size: cover;
    padding: 25px;
}